body {
    font-family: Arial, sans-serif;
    /* background-color: #f0f0f0; */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url(../images/index_3.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  header {
    background-color: #333;
    color: white;
    padding: 15px 0;
    text-align: center;
  }
  
  header h1 {
    margin: 0;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: #444;
  }
  
  nav ul li {
    position: relative;
  }
  
  nav ul li a {
    display: block;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
  }
  
  nav ul li a:hover {
    background-color: #555;
  }
  
  nav ul li .dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #444;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  nav ul li:hover .dropdown {
    display: block;
  }
  
  nav ul li .dropdown li {
    width: 100%;
  }
  
  main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  .operations {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    width: 80%;
    max-width: 800px;
  }
  
  .operation {
    background-color: rgba(70, 70, 70, 0.752);
    padding: 40px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    transition: transform 0.3s ease;
  }
  
  .operation:hover {
    transform: scale(1.05);
  }
  
  .operation a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
  }
  
  footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
  }
  